.nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: transparent;
  margin-bottom: -3.1rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.nav__logo {
  height: 1.4rem;
  margin-left: 1.25rem;
}

.nav__image {
  height: 1.85rem;
  margin-right: 1.25rem;
}

.nav--scrolled {
  background-color: #111;
  transition: background-color 200ms linear;
}
